li {
  list-style: none;
  text-decoration: none;
}
.none {
  text-decoration: none;
  color: black;
  cursor: pointer;


}
.nav {
  display: flex;
  margin-bottom: 20px;
  background-color: rgb(241, 181, 181);
  padding: 10px;
  justify-content: space-around;
  list-style: none;
}
footer {
  background-color: #ccc;
  bottom: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.activeStyle {
  color: black;
}

.linkCon{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}